<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/about.css" />

        <title>Simply Kaitie</title>
    </head>
    <body>
        <%-include('header')%>
        <div class="main-container">
            <div class="about-photo-container">
                <img
                    src="/images/family.jpg"
                    alt="Family Photo"
                    class="about-photo"
                />
            </div>
            <div class="about-main">
                <p class="about-title">About Me</p>
                <p class="about-content">
                    Hello there! I'm Kaitie Kelly, the creator and voice behind
                    'Simply Kaitie'. I'm a 32-year-old mom of two amazing boys,
                    ages 6 and 4, and I've been happily married for 12 years.
                    <br />
                    <br />
                    Before embracing the full-time role of a stay-at-home mom, I
                    had the incredible opportunity to be a teacher. Teaching has
                    always been a passion of mine, and though I'm no longer in
                    the classroom every day, I occasionally step in as a
                    substitute, connecting with students and sharing my love for
                    learning. <br />
                    <br />
                    'Simply Kaitie' is my corner of the internet where I wear
                    many hats—mom, wife, teacher, and blogger. Here, I share
                    insights, experiences, and tips on various aspects of life.
                    Whether you're looking for ways to declutter your space,
                    whip up delicious and family-friendly recipes, stay active
                    with fitness routines, or manage your budget effectively,
                    I've got you covered.
                </p>
            </div>
            <div class="about-main">
                <p class="about-title">Categories:</p>
                <ul class="category-content">
                    <li>
                        <p class="list-title">Budget</p>
                        <ul>
                            <li>
                                Managing a household budget can be a daunting
                                task, but it doesn't have to be. Join me as I
                                share budgeting strategies, frugal living tips,
                                and ways to make the most of your resources.
                            </li>
                        </ul>
                    </li>
                    <br />
                    <li>
                        <p class="list-title">Cooking</p>
                        <ul>
                            <li>
                                Embarking on a culinary adventure, I'm excited
                                to share my kitchen escapades. Join me as I
                                explore the world of cooking from the
                                perspective of a mom who's discovering the joy
                                of creating simple, family-friendly meals. It's
                                all about embracing the learning curve and
                                having fun in the kitchen together!
                            </li>
                        </ul>
                    </li>
                    <br />
                    <li>
                        <p class="list-title">Declutter</p>
                        <ul>
                            <li>
                                As a mom, I understand the constant challenge of
                                keeping our spaces organized and clutter-free.
                                Join me as I explore practical decluttering tips
                                and share our journey towards a more simplified
                                life.
                            </li>
                        </ul>
                    </li>
                    <br />
                    <li>
                        <p class="list-title">Faith</p>
                        <ul>
                            <li>
                                Navigating life with faith is a journey I
                                cherish, and I'm excited to share it with you
                                here on 'Simply Kaitie.' As a Christian, I find
                                solace and purpose in the belief that Jesus is
                                God's son, offering salvation through His
                                boundless love. Join me in weaving faith into
                                our daily routines, exploring prayerful moments,
                                and reflecting on the profound teachings of
                                scripture.
                            </li>
                        </ul>
                    </li>
                    <br />
                    <li>
                        <p class="list-title">Fitness</p>
                        <ul>
                            <li>
                                Balancing a busy family life doesn't mean
                                neglecting personal well-being. Dive into
                                fitness tips, routines, and ideas that cater to
                                moms on the go. Let's stay active together!
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <p class="about-main">
                Thank you for being part of our journey! Feel free to explore
                the blog and connect with me on social media. I love hearing
                from fellow moms and readers who are navigating this beautiful,
                messy, and incredibly rewarding adventure called life.
                <br /><br />
                Warmly, <br />
                Kaitie Kelly
            </p>
        </div>
    </body>
</html>
