<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Explore budgeting strategies, frugal living tips, and resource optimization for effective household budget management. Join me on this financial journey!"
        />
        <script src="/javascripts/main.js" defer></script>

        <link rel="stylesheet" href="/stylesheets/main.css" />

        <title>Budgeting Hacks for a Thrifty Lifestyle | Simply Kaitie</title>
        <link
            rel="icon"
            href="/images/onlySK.png"
            type="image/png"
            sizes="32x32 48x48 64x64"
        />
    </head>
    <body>
        <%-include('header')%> <%-include('entryRender')%>
    </body>
</html>
