<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Join me in the quest for organized and clutter-free spaces. Explore practical decluttering tips on our journey to a simplified and harmonious life."
        />
        <script src="/javascripts/main.js" defer></script>

        <link rel="stylesheet" href="/stylesheets/main.css" />

        <title>
            Simplify Your Life: Decluttering Tips and Tricks | Simply Kaitie
        </title>
        <link
            rel="icon"
            href="/images/onlySK.png"
            type="image/png"
            sizes="32x32 48x48 64x64"
        />
    </head>
    <body>
        <%-include('header')%> <%-include('entryRender')%>
    </body>
</html>
