<link rel="stylesheet" href="/stylesheets/header.css" />
<script src="/javascripts/header.js" defer></script>
<script
    src="https://kit.fontawesome.com/008151671d.js"
    crossorigin="anonymous"
></script>

<div class="global-header">
    <i class="menu-icon fa-solid fa-bars" onclick="toggleMenu()"> </i>
    <img src="/images/logo2.png" alt="" />
    <a href="https://www.instagram.com/kkelly813/" class="instagram-icon">
        <i class="fa-brands fa-instagram"></i>
    </a>
</div>

<div class="side-menu" id="sideMenu">
    <a href="/">Home</a>
    <a href="/blog/declutter">Declutter</a>
    <a href="/blog/cooking">Cooking</a>
    <a href="/blog/fitness">Fitness</a>
    <a href="/blog/budget">Budget</a>
    <a href="/recommendations">My Recommendations</a>
    <a href="/about">About Me</a>
</div>
