<link rel="stylesheet" href="/stylesheets/header.css" />
<script src="/javascripts/header.js" defer></script>
<script
    src="https://kit.fontawesome.com/008151671d.js"
    crossorigin="anonymous"
></script>

<div class="global-header">
    <i class="menu-icon fa-solid fa-bars" onclick="toggleMenu()"> </i>
    <img src="/images/logo2.png" alt="" />
    <i
        class="share-icon fa-solid fa-share-nodes"
        onclick="toggleShareMenu()"
    ></i>
</div>

<div class="overlay" onclick="toggleMenu()" id="overlay"></div>
<div class="share-overlay" onclick="toggleShareMenu()" id="shareOverlay"></div>

<!-- SIDE MENU  -->
<div class="side-menu" id="sideMenu">
    <a href="/">Home</a>
    <a href="/blog/budget">Budget</a>
    <a href="/blog/cooking">Cooking</a>
    <a href="/blog/declutter">Declutter</a>
    <a href="/blog/faith">Faith</a>
    <a href="/blog/fitness">Fitness</a>
    <a href="/recommendations">Shop My Favorites</a>
    <a href="/about">About Me</a>
    <a href="/contact">Contact Me</a>
    <p class="subscribe-btn" id="subscribeBtn" onclick="toggleSubscribe()">
        Subscribe
    </p>
    <!-- <p class="error-message" id="errorMessage" style="display: none"></p> -->
    <form
        action="/contact/subscribe"
        method="POST"
        class="subscribe-form"
        id="subscribeForm"
        style="display: none"
        enctype="multipart/form-data"
    >
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Name" required />
        <label for="email"></label>
        <input
            type="email"
            id="email"
            name="email"
            placeholder="Email"
            required
        />
        <button class="subscribe-submit" onclick="submitForm(event)">
            Submit
        </button>
    </form>
    <div class="side-bar-links">
        <a href="https://www.instagram.com/simply.kaitie/" class="icon">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="" class="icon"><i class="fa-brands fa-pinterest"></i></a>
    </div>
    <a href="/login" class="login-link"
        ><i class="fa-solid fa-right-to-bracket"></i
    ></a>
</div>

<!-- SHARE MENU  -->
<div class="share-menu" id="shareMenu">
    <a
        href="https://www.facebook.com/sharer/sharer.php?u=www.simplykaitie.com"
        target="_blank"
        ><i class="fa-brands fa-facebook fb-icon"></i> Share on Facebook</a
    >
    <a
        href="https://twitter.com/intent/tweet?url=www.simplykaitie.com&text=Check out this page"
        target="_blank"
        ><i class="fa-brands fa-x-twitter x-icon"></i> Share on Twitter</a
    >
    <a href="sms:?body=Check out this page: www.simplykaitie.com"
        ><i class="fa-solid fa-message sms-icon"></i> Share via SMS</a
    >
</div>
