<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/main.css" />

        <title>Simply Kaitie</title>
    </head>
    <body>
        <%- include('header') %>
        <div class="main-container">
            <% if (posts) { %> <% posts.forEach(function(post) { %>
            <div class="favs-container">
                <div class="fav-title"><%= post.title %></div>
                <div class="fav-links">
                    <% if (post.links && post.links.length > 0) { %> <%
                    post.links.forEach(function(link) { %>
                    <div class="fav-link"><%- link %></div>
                    <% }); %> <% } else { %>
                    <div class="fav-link">No links available</div>
                    <% } %>
                </div>
            </div>
            <% }); %> <% } else { %>
            <div>No posts available</div>
            <% } %>
        </div>
    </body>
</html>
