<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Discover the products that make Kaitie's favorites list. Shop now for handpicked essentials and elevate your lifestyle with our top picks."
        />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/recommendations.css" />

        <title>Simply Kaitie's Top Picks: Shop My Favs</title>
        <link
            rel="icon"
            href="/images/onlySK.png"
            type="image/png"
            sizes="32x32 48x48 64x64"
        />
    </head>
    <body>
        <%- include('header') %>
        <div class="main-container main-fav-container">
            <% if (posts) { %> <% posts.forEach(function(post) { %>
            <div class="fav-container">
                <div class="fav-title">
                    <p><%= post.title %></p>
                </div>
                <ul>
                    <% if (post.links) { %> <% post.links.forEach(function(link)
                    { %>
                    <li class="fav-link"><%- link %></li>
                    <% }); %> <% } %>
                </ul>
            </div>
            <% }); %> <% } else { %>
            <div>No posts available</div>
            <% } %>
        </div>
    </body>
</html>
