<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="/stylesheets/recommendations.css" />

        <title>Simply Kaitie</title>
    </head>
    <body>
        <%- include('header') %>
        <div class="main-container main-fav-container">
            <% if (posts) { %> <% posts.forEach(function(post) { %>
            <div class="fav-container">
                <div class="fav-title">
                    <p><%= post.title %></p>
                </div>
                <ul>
                    <% if (post.links) { %> <% post.links.forEach(function(link)
                    { %>
                    <li class="fav-link"><%- link %></li>
                    <% }); %> <% } %>
                </ul>
            </div>
            <% }); %> <% } else { %>
            <div>No posts available</div>
            <% } %>
        </div>
    </body>
</html>
