.form-container {
    display: flex;
    flex-direction: column;
}

.form-container label {
    display: flex;
}

.time-edit-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
}

.edit-delete {
    display: flex;
    align-items: center;
}

.admin-blog-time {
    margin-bottom: 0;
    margin-top: 0;
}

.edit-btn {
    margin-right: 15px;
    text-decoration: none;
    color: blue;
    cursor: pointer;
}

.delete-btn {
    color: red;
    cursor: pointer;
}

.confirm-container {
    width: 100px;
    border: 3px solid red;
}

.yes-no {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
}

.yes-btn {
    background-color: rgba(255, 0, 0, 0.493);
    cursor: pointer;
}

.no-btn {
    background-color: rgba(0, 128, 0, 0.514);
    cursor: pointer;
}

.admin-sidebar-title {
    background-color: #51b1c285;
    margin: 0;
    padding: 15px;
    /* text-decoration: underline; */
}

.admin-sidebar-container {
    border: 3px solid #2a97aa85;
    border-radius: 10px;
}

.admin-verse {
    text-align: center;
    color: #4d4d4d;
    margin: 0;
    padding: 0 10px;
}

.admin-container {
    display: flex;
    flex-direction: column;
}

.admin-title {
    margin: 0;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: rgba(16, 116, 134, 0.678);
}

.admin-stats {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.analytics-title {
    display: flex;
    justify-content: center;
}

.analytics {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
}

.analytics p {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightblue;
}

.new-post-cancel {
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    text-decoration: none;
    border: 0.2px solid rgba(16, 116, 134, 0.678);
    background-color: rgba(173, 51, 47, 0.466);
}
