.global-header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    background-color: white;
    height: 100px;
    line-height: 18px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-header img {
    height: 100px;
}

.menu-icon {
    font-size: 25px;
    background: none;
    border: none;
    /* color: #333333af; */
    color: black;
    cursor: pointer;
    position: absolute;
    /* top: 45px; */
    left: 40px;
}

.share-icon {
    font-size: 21px;
    background: none;
    color: black;
    /* color: #333333af; */
    cursor: pointer;
    position: absolute;
    /* top: 45px; */
    right: 40px;
    /* border: 0.5px solid rgba(16, 116, 134, 0.678);
    border-radius: 5px; */
    padding: 1px;
}

.home-icon {
    font-size: 21px;
    background: none;
    color: black;
    /* color: #333333af; */
    cursor: pointer;
    position: absolute;
    /* top: 45px; */
    right: 40px;
    /* border: 0.5px solid rgba(16, 116, 134, 0.678);
    border-radius: 5px; */
    padding: 1px;
}

.side-bar-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    margin-left: -15px;
    width: 100%;
}

.side-menu {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 110px;
    left: -215px;
    background-color: white;
    /* padding-top: 60px; */
    text-align: center;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}

.side-menu ul {
    margin: 0;
}

.side-menu a {
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
}

.side-menu .home-link {
    padding-right: 140px;
}

.side-menu .blog-link {
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    padding-right: 100px;
}

.side-menu .shop-favs-link {
    padding-right: 50px;
}

.side-menu .about-link {
    padding-right: 110px;
}

.side-menu .contact-link {
    padding-right: 100px;
}

.subscribe-btn {
    display: block;
    padding: 15px 110px 15px 15px;
    color: #333;
    text-decoration: none;
    margin: 0;
}

.subscribe-btn:hover {
    background-color: #51b1c285;
}

.blog-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 19px;
}

.side-menu a:hover {
    background-color: #51b1c285;
}

.subscribe-form {
    margin-left: -15px;
}

.subscribe-form input {
    margin-top: 5px;
    width: 90%;
    border: 0.5px solid rgb(102, 102, 102);
    border-radius: 3px;
}

.subscribe-form input:focus {
    outline: none;
}

.subscribe-submit {
    margin-top: 5px;
    width: 90px;
    color: rgb(90, 90, 90);
    background-color: rgba(47, 154, 173, 0.466);
    cursor: pointer;
    border-radius: 5px;
    border: 0.2px solid rgba(16, 116, 134, 0.678);
}

.share-menu {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 110px;
    right: -200px;
    background-color: white;
    /* padding-top: 60px; */
    text-align: center;
    transition: 0.3s;
}

.share-menu a {
    display: flex;
    padding: 15px;
    color: #333;
    text-decoration: none;
}

.share-menu a:hover {
    background-color: #51b1c285;
}

/* Add styles for dimming overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    /* z-index: 1; */
}

.menu-open .overlay {
    display: block;
}

.share-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.share-menu-open .share-overlay {
    display: block;
}

.fb-icon,
.x-icon,
.sms-icon {
    font-size: 21px;
    margin-right: 10px;
}

.fb-icon {
    color: blue;
}

.sms-icon {
    color: green;
}

.login-link {
    position: fixed;
    bottom: 5px;
}

.login-link i {
    color: lightgray;
}

/* MDEIA QUERY  */
@media (min-width: 768px) {
    .global-header {
        height: 140px;
    }

    .global-header img {
        height: 140px;
    }

    .side-menu {
        top: 150px;
    }

    .share-menu {
        top: 150px;
    }
}
